.chartContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 4.2rem);
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}

@media (max-width: 940px) {
  .chartContainer {
    padding: 1.2rem 0;
  }
}