.chartContainer {
  display: flex;
  height: calc(100vh - 4.2rem);
  flex: 1;
  align-items: center;
}

@media (max-width: 940px) {
  .chartContainer {
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
  }
}