.chartSingle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  color: var(--title);
  font-size: 2.2rem;
  max-width: 24rem;
}

@media (max-width: 940px) {
  .chartContainer {
    padding: 1.2rem 0;
  }
}