.header {
  width: 100%;
  height: 4.2rem;
  background-color: var(--red);
  box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menuButton, .menuButtonClose {
  position: absolute;
  top: calc(50% - .9rem);
  left: 1.4rem;
  cursor: pointer;
  border: 0;
  color: var(--white);
  background: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.menuButton {
  display: flex;
  align-items: center;
  line-height: 0;
  padding: .1rem;
}

.menuButton img {
  margin-right: .4rem;
  width: 1.6rem;
}

.menuButtonClose {
  top: 1.3rem;
  left: 80%;
  line-height: 0;
}

.menuButtonClose img {
  width: 1.8rem;
}

.logo {
  width: 10rem;
}

.leftMenu, .leftMenuHidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 15rem;
  height: 100vh;
  background: var(--title);
  transition: .3s;
  z-index: 999;
}

.leftMenuHidden {
  left: -15rem;
}