.menu {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding-bottom: 1.2rem;
}

.menuList, .autor {
  display: flex;
  flex-direction: column;
  padding-left: .8rem;
}

.logo {
  padding: 1.2rem 0;
}

.menuList li:not(.logo), li {
  padding: .6rem 0;
  font-size: 1.2rem;
}

.menuList li a, .autor li a {
  text-decoration: none;
  color: var(--white);
  position: relative;
}
.menuList li a:hover::after,
.autor li a:hover::after {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: var(--blue-dark);
  animation: bottomLine .2s;
}

@keyframes bottomLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.menuList li a img {
  width: 8rem;
}

.titleAutor {
  font-size: 1.5rem;
  color: var(--white);
  font-weight: bold;
  margin-bottom: .8rem;
}

.autor > li > span {
  font-size: 1.2rem;
  font-weight: 500;
}

.autor li {
  padding: .4rem 0;
}